# UpGrad: Lending Club Case Study
##### Editors: Sowmily Dutta and Shounak Dutta

In [2]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
df = pd.read_csv("loan.csv", low_memory=False)
pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)
df.head().T

,0,1,2,3,4
id,1077501,1077430,1077175,1076863,1075358
member_id,1296599,1314167,1313524,1277178,1311748
loan_amnt,5000,2500,2400,10000,3000
funded_amnt,5000,2500,2400,10000,3000
funded_amnt_inv,4975.0,2500.0,2400.0,10000.0,3000.0
term,36 months,60 months,36 months,36 months,60 months
int_rate,10.65%,15.27%,15.96%,13.49%,12.69%
installment,162.87,59.83,84.33,339.31,67.79
grade,B,C,C,C,B
sub_grade,B2,C4,C5,C1,B5
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,24000.0,30000.0,12252.0,49200.0,80000.0
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified
issue_d,Dec-11,Dec-11,Dec-11,Dec-11,Dec-11
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current
pymnt_plan,n,n,n,n,n
url,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...,https://lendingclub.com/browse/loanDetail.acti...
desc,Borrower added on 12/22/11 > I need to upgra...,Borrower added on 12/22/11 > I plan to use t...,NaN,Borrower added on 12/21/11 > to pay for prop...,Borrower added on 12/21/11 > I plan on combi...
purpose,credit_card,car,small_business,other,other
title,Computer,bike,real estate business,personel,Personal
zip_code,860xx,309xx,606xx,917xx,972xx
addr_state,AZ,GA,IL,CA,OR
dti,27.65,1.0,8.72,20.0,17.94
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Jan-85,Apr-99,Nov-01,Feb-96,Jan-96
inq_last_6mths,1,5,2,1,0
mths_since_last_delinq,NaN,NaN,NaN,35.0,38.0
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,3,3,2,10,15
pub_rec,0,0,0,0,0
revol_bal,13648,1687,2956,5598,27783
revol_util,83.70%,9.40%,98.50%,21%,53.90%
total_acc,9,4,10,37,38
initial_list_status,f,f,f,f,f
out_prncp,0.0,0.0,0.0,0.0,524.06
out_prncp_inv,0.0,0.0,0.0,0.0,524.06
total_pymnt,5863.155187,1008.71,3005.666844,12231.89,3513.33
total_pymnt_inv,5833.84,1008.71,3005.67,12231.89,3513.33
total_rec_prncp,5000.0,456.46,2400.0,10000.0,2475.94
total_rec_int,863.16,435.17,605.67,2214.92,1037.39
total_rec_late_fee,0.0,0.0,0.0,16.97,0.0
recoveries,0.0,117.08,0.0,0.0,0.0
collection_recovery_fee,0.0,1.11,0.0,0.0,0.0
last_pymnt_d,Jan-15,Apr-13,Jun-14,Jan-15,May-16
last_pymnt_amnt,171.62,119.66,649.91,357.48,67.79
next_pymnt_d,NaN,NaN,NaN,NaN,Jun-16
last_credit_pull_d,May-16,Sep-13,May-16,Apr-16,May-16
collections_12_mths_ex_med,0.0,0.0,0.0,0.0,0.0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,NaN,NaN,NaN,NaN,NaN
tot_cur_bal,NaN,NaN,NaN,NaN,NaN
open_acc_6m,NaN,NaN,NaN,NaN,NaN
open_il_6m,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,NaN,NaN,NaN,NaN,NaN
inq_fi,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN
acc_open_past_24mths,NaN,NaN,NaN,NaN,NaN
avg_cur_bal,NaN,NaN,NaN,NaN,NaN
bc_open_to_buy,NaN,NaN,NaN,NaN,NaN
bc_util,NaN,NaN,NaN,NaN,NaN
chargeoff_within_12_mths,0.0,0.0,0.0,0.0,0.0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,NaN,NaN,NaN,NaN,NaN
mo_sin_old_rev_tl_op,NaN,NaN,NaN,NaN,NaN
mo_sin_rcnt_rev_tl_op,NaN,NaN,NaN,NaN,NaN
mo_sin_rcnt_tl,NaN,NaN,NaN,NaN,NaN
mort_acc,NaN,NaN,NaN,NaN,NaN
mths_since_recent_bc,NaN,NaN,NaN,NaN,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,NaN,NaN,NaN,NaN,NaN
num_actv_bc_tl,NaN,NaN,NaN,NaN,NaN
num_actv_rev_tl,NaN,NaN,NaN,NaN,NaN
num_bc_sats,NaN,NaN,NaN,NaN,NaN
num_bc_tl,NaN,NaN,NaN,NaN,NaN
num_il_tl,NaN,NaN,NaN,NaN,NaN
num_op_rev_tl,NaN,NaN,NaN,NaN,NaN
num_rev_accts,NaN,NaN,NaN,NaN,NaN
num_rev_tl_bal_gt_0,NaN,NaN,NaN,NaN,NaN
num_sats,NaN,NaN,NaN,NaN,NaN
num_tl_120dpd_2m,NaN,NaN,NaN,NaN,NaN
num_tl_30dpd,NaN,NaN,NaN,NaN,NaN
num_tl_90g_dpd_24m,NaN,NaN,NaN,NaN,NaN
num_tl_op_past_12m,NaN,NaN,NaN,NaN,NaN
pct_tl_nvr_dlq,NaN,NaN,NaN,NaN,NaN
percent_bc_gt_75,NaN,NaN,NaN,NaN,NaN
pub_rec_bankruptcies,0.0,0.0,0.0,0.0,0.0
tax_liens,0.0,0.0,0.0,0.0,0.0
tot_hi_cred_lim,NaN,NaN,NaN,NaN,NaN
total_bal_ex_mort,NaN,NaN,NaN,NaN,NaN
total_bc_limit,NaN,NaN,NaN,NaN,NaN
total_il_high_credit_limit,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(39717, 111)

In [5]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,14035.000000,2786.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39661.0,0.0,39717.0,0.0,0.0,0.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39661.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,35.900962,69.698134,9.294408,0.055065,13382.528086,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,22.020060,43.822529,4.400282,0.237200,15885.016641,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,18.000000,22.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,34.000000,90.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,52.000000,104.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,120.000000,129.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [6]:
# Check for total percentage of null values in each column 
100*(df.isnull().sum()/df.shape[0])

id                                  0.000000
member_id                           0.000000
loan_amnt                           0.000000
funded_amnt                         0.000000
funded_amnt_inv                     0.000000
term                                0.000000
int_rate                            0.000000
installment                         0.000000
grade                               0.000000
sub_grade                           0.000000
emp_title                           6.191303
emp_length                          2.706650
home_ownership                      0.000000
annual_inc                          0.000000
verification_status                 0.000000
issue_d                             0.000000
loan_status                         0.000000
pymnt_plan                          0.000000
url                                 0.000000
desc                               32.585543
purpose                             0.000000
title                               0.027696
zip_code                            0.000000
addr_state                          0.000000
dti                                 0.000000
delinq_2yrs                         0.000000
earliest_cr_line                    0.000000
inq_last_6mths                      0.000000
mths_since_last_delinq             64.662487
mths_since_last_record             92.985372
open_acc                            0.000000
pub_rec                             0.000000
revol_bal                           0.000000
revol_util                          0.125891
total_acc                           0.000000
initial_list_status                 0.000000
out_prncp                           0.000000
out_prncp_inv                       0.000000
total_pymnt                         0.000000
total_pymnt_inv                     0.000000
total_rec_prncp                     0.000000
total_rec_int                       0.000000
total_rec_late_fee                  0.000000
recoveries                          0.000000
collection_recovery_fee             0.000000
last_pymnt_d                        0.178765
last_pymnt_amnt                     0.000000
next_pymnt_d                       97.129693
last_credit_pull_d                  0.005036
collections_12_mths_ex_med          0.140998
mths_since_last_major_derog       100.000000
policy_code                         0.000000
application_type                    0.000000
annual_inc_joint                  100.000000
dti_joint                         100.000000
verification_status_joint         100.000000
acc_now_delinq                      0.000000
tot_coll_amt                      100.000000
tot_cur_bal                       100.000000
open_acc_6m                       100.000000
open_il_6m                        100.000000
open_il_12m                       100.000000
open_il_24m                       100.000000
mths_since_rcnt_il                100.000000
total_bal_il                      100.000000
il_util                           100.000000
open_rv_12m                       100.000000
open_rv_24m                       100.000000
max_bal_bc                        100.000000
all_util                          100.000000
total_rev_hi_lim                  100.000000
inq_fi                            100.000000
total_cu_tl                       100.000000
inq_last_12m                      100.000000
acc_open_past_24mths              100.000000
avg_cur_bal                       100.000000
bc_open_to_buy                    100.000000
bc_util                           100.000000
chargeoff_within_12_mths            0.140998
delinq_amnt                         0.000000
mo_sin_old_il_acct                100.000000
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
pub_rec_bankruptcies                1.754916
tax_liens                           0.098195
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
dtype: float64

In [7]:
# Removing columns having 70% and more null values.
missing_threshold = 0.7 * len(df)
df_cleaned = df.dropna(thresh=missing_threshold, axis=1)

# Removing columns which are not required for this analysis.
not_reqd = ["member_id","policy_code","url","zip_code","emp_title","title","last_pymnt_d",
            "out_prncp","out_prncp_inv","revol_bal","pymnt_plan","issue_d","initial_list_status","application_type",
            "acc_now_delinq", "delinq_amnt"]
df_cleaned = df_cleaned.drop(not_reqd,axis=1)

In [8]:
# The applicants with loan_status = current indicate already approved applications. 
# So, can be ignored for the current analysis
# Dropping all the records with loan_status = current
df_cleaned = df_cleaned[df_cleaned['loan_status'] != 'Current']

In [9]:
# Check for total percentage of null values in each column after cleaning data.
100*(df_cleaned.isnull().sum()/df_cleaned.shape[0])

id                            0.000000
loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_length                    2.677761
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
loan_status                   0.000000
purpose                       0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
open_acc                      0.000000
pub_rec                       0.000000
revol_util                    0.129611
total_acc                     0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_amnt               0.000000
last_credit_pull_d            0.005184
collections_12_mths_ex_med    0.145164
chargeoff_within_12_mths      0.145164
pub_rec_bankruptcies          1.806776
tax_liens                     0.101097
dtype: float64

In [10]:
# Filling the null values for emp_length column with 0 assuming that the borrower hasn't worked many years for his data 
# to be recorded. Also, using regex to extract the number of years from all of the data.
df_cleaned['emp_length'].fillna(value=0,inplace=True)
df_cleaned['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df_cleaned['emp_length'] = pd.to_numeric(df_cleaned['emp_length'], errors='coerce')

In [11]:
# Replacing percentage sign in revol_util column and converting the column to a float point data type.
df_cleaned["revol_util"].replace(r'%', '', regex=True, inplace=True)
df_cleaned['revol_util'] = pd.to_numeric(df_cleaned['revol_util'], errors='coerce')

In [12]:
# Replacing percentage sign in int_rate column and converting the column to a float point data type.
df_cleaned["int_rate"].replace(r'%', '', regex=True, inplace= True)
df_cleaned['int_rate'] = df_cleaned['int_rate'].replace('N/A', pd.NA)
df_cleaned['int_rate'] = df_cleaned['int_rate'].astype(float)

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38577 non-null  int64
 1   loan_amnt                   38577 non-null  int64
 2   funded_amnt                 38577 non-null  int64
 3   funded_amnt_inv             38577 non-null  float64
 4   term                        38577 non-null  object
 5   int_rate                    38577 non-null  float64
 6   installment                 38577 non-null  float64
 7   grade                       38577 non-null  object
 8   sub_grade                   38577 non-null  object
 9   emp_length                  38577 non-null  int64
 10  home_ownership              38577 non-null  object
 11  annual_inc                  38577 non-null  float64
 12  verification_status         38577 non-null  object
 13  loan_status                 38577 non-null  object
 14  purpose                     38577 non-null  object
 15  addr_state                  38577 non-null  object
 16  dti                         38577 non-null  float64
 17  delinq_2yrs                 38577 non-null  int64
 18  earliest_cr_line            38577 non-null  object
 19  inq_last_6mths              38577 non-null  int64
 20  open_acc                    38577 non-null  int64
 21  pub_rec                     38577 non-null  int64
 22  revol_util                  38527 non-null  float64
 23  total_acc                   38577 non-null  int64
 24  total_pymnt                 38577 non-null  float64
 25  total_pymnt_inv             38577 non-null  float64
 26  total_rec_prncp             38577 non-null  float64
 27  total_rec_int               38577 non-null  float64
 28  total_rec_late_fee          38577 non-null  float64
 29  recoveries                  38577 non-null  float64
 30  collection_recovery_fee     38577 non-null  float64
 31  last_pymnt_amnt             38577 non-null  float64
 32  last_credit_pull_d          38575 non-null  object
 33  collections_12_mths_ex_med  38521 non-null  float64
 34  chargeoff_within_12_mths    38521 non-null  float64
 35  pub_rec_bankruptcies        37880 non-null  float64
 36  tax_liens                   38538 non-null  float64
dtypes: float64(18), int64(9), object(10)
memory usage: 11.2+ MB

In [14]:
df_cleaned.describe()

,id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,chargeoff_within_12_mths,pub_rec_bankruptcies,tax_liens
count,3.857700e+04,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,3.857700e+04,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38527.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38521.0,38521.0,37880.000000,38538.0
mean,6.763787e+05,11047.025430,10784.058506,10222.481123,11.932219,322.466318,4.925526,6.877797e+04,13.272727,0.146668,0.871737,9.275423,0.055422,48.702777,22.052648,11866.970365,11271.196153,9648.322898,2119.243370,1.368634,98.035545,12.772728,2746.243218,0.0,0.0,0.043479,0.0
std,2.092639e+05,7348.441646,7090.306027,7022.720644,3.691327,208.639215,3.453921,6.421868e+04,6.673044,0.492271,1.071546,4.401588,0.237804,28.364741,11.425861,8809.856227,8700.845592,7009.381200,2389.499511,7.315880,698.650182,150.836853,4494.648131,0.0,0.0,0.204583,0.0
min,5.473400e+04,500.000000,500.000000,0.000000,5.420000,15.690000,0.000000,4.000000e+03,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
25%,5.120330e+05,5300.000000,5200.000000,5000.000000,8.940000,165.740000,2.000000,4.000000e+04,8.130000,0.000000,0.000000,6.000000,0.000000,25.200000,13.000000,5513.497338,5019.590000,4500.000000,643.990000,0.000000,0.000000,0.000000,217.420000,0.0,0.0,0.000000,0.0
50%,6.564230e+05,9600.000000,9550.000000,8733.440000,11.710000,277.860000,4.000000,5.886800e+04,13.370000,0.000000,1.000000,9.000000,0.000000,49.100000,20.000000,9674.048405,9066.660000,8000.000000,1300.450000,0.000000,0.000000,0.000000,568.260000,0.0,0.0,0.000000,0.0
75%,8.291460e+05,15000.000000,15000.000000,14000.000000,14.380000,425.550000,9.000000,8.200000e+04,18.560000,0.000000,1.000000,12.000000,0.000000,72.300000,29.000000,16136.952430,15329.780000,13175.000000,2671.980000,0.000000,0.000000,0.000000,3447.250000,0.0,0.0,0.000000,0.0
max,1.077501e+06,35000.000000,35000.000000,35000.000000,24.400000,1305.190000,10.000000,6.000000e+06,29.990000,11.000000,8.000000,44.000000,4.000000,99.900000,90.000000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,0.0,0.0,2.000000,0.0

In [ ]:
df_cleaned.head()

## Univariate Analysis

In [ ]:
# Figure 1: Plot the distribution of loan amount
sns.histplot(df_cleaned["loan_amnt"], bins=10)
plt.title("Distribution of Loan Amount")
plt.xlabel('Loan Amount')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

### Insights from the Loan Amount Distribution Graph
- The majority of loans are concentrated in the lower to mid-range amounts, with a significant portion falling between 5,000 and 15,000.
- There is a clear rightward skew, indicating that a smaller number of loans are for significantly higher amounts.

In [ ]:
# Figure 2: Plot the distribution of interest rates
sns.displot(df_cleaned["int_rate"], bins=20, kde=True)
plt.title("Distribution of Interest Rates")
plt.xlabel('Interest Rates')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

### Insights from the Interest Rate Distribution Graph
- Interest rates exhibit a clear rightward skew, indicating that a larger portion of loans have lower interest rates.
- There is a noticeable peak around the 10-12% range, suggesting this is a common interest rate range for loans.

In [ ]:
# Figure 3: Plot the distribution of Loan Status
sns.countplot(data=df_cleaned, x='loan_status', order=df_cleaned['loan_status'].value_counts().index)
plt.title('Distribution of Loan Statuses')
plt.xlabel('Loan Status')
plt.ylabel('Frequency')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### Insights from the Loan Status Distribution Graph
- The majority of loans were fully paid, with a significantly smaller portion being charged off. This suggests that the majority of borrowers were able to repay their loans, but a considerable number defaulted.

In [ ]:
# Figure 4: Plot the distribution of Employment length in years
current_labels = df_cleaned['emp_length'].value_counts().index
sns.countplot(data=df_cleaned, x='emp_length', order=current_labels)
plt.title('Distribution of Employment length in years.')
plt.xlabel('Employment Length')
plt.ylabel('Frequency')
formatted_labels = [f'{label} year' if label == 1 else f'{label} years' for label in current_labels]
plt.xticks(ticks=range(len(current_labels)), labels=formatted_labels, rotation=45)
plt.tight_layout()
plt.show()

### Insights from the Employment Length Distribution Graph
- The majority of borrowers have been employed for 10 years or less, with a significant portion having been employed for less than 5 years.
- Employment length decreases as the number of years increases, indicating that a larger portion of borrowers have been employed for shorter durations.

In [ ]:
# Figure 5: Plot the distribution of Home Ownership
current_labels = df_cleaned['home_ownership'].value_counts().index
sns.countplot(data=df_cleaned, x='home_ownership', order=current_labels)
plt.title('Distribution of Home Ownership')
plt.xlabel('Home Ownership')
plt.ylabel('Frequency')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### Insights from the Home Ownership Distribution Graph 
- The majority of borrowers are renters, followed by those with a mortgage.
- A smaller portion of borrowers own their homes outright, while even fewer have other or no home ownership status.

In [ ]:
# Figure 6: Plot the distribution of Loan Purpose
loan_purpose_counts = df_cleaned['purpose'].value_counts()
plt.figure(figsize=(10, 6))
sns.barplot(x=loan_purpose_counts.values, y=loan_purpose_counts.index)
plt.title('Distribution of Loan Purposes')
plt.xlabel('Number of Loans')
plt.ylabel('Loan Purpose')
plt.tight_layout()
plt.show()

### Insights from the Loan Purpose Distribution Graph
- Debt consolidation is the most common loan purpose, followed by credit card and other purposes.
- Home improvement, major purchases, and small businesses are also significant categories for loans.
- A variety of other purposes, such as weddings, medical expenses, moving, vacation, house, education, and renewable energy, are less frequent but still represented.

In [ ]:
# Figure 7: Plot the distribution of Loan Terms
plt.figure(figsize=(5, 5))
plt.title('Distribution of Loan Terms')  
term_counts = df_cleaned.term.value_counts()
plt.pie(x=term_counts, autopct='%1.1f%%', startangle=90, explode=(0.05, 0), labels=['36 months', '60 months'])
plt.ylabel('')  
plt.tight_layout()
plt.show()

### Insights from the Loan Term Distribution Graph
- The majority of loans, 75.4% of the total, have a term of 36 months.
- Only 24.6% of loans have a term of 60 months.

In [ ]:
# Figure 8: Plot the Distribution of Monthly Installments  
sns.displot(df_cleaned["installment"], bins=20, alpha=0.7, kde=True)
plt.title('Distribution of Monthly Installments')
plt.xlabel('Installment per Month (USD)')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

### Insights from the Monthly Installments Distribution Graph
- The distribution of monthly installments is heavily right-skewed, indicating that a larger number of borrowers have lower installment amounts.
- The most common monthly installment amount falls within 200-300 USD range.

In [ ]:
# Figure 9: Plot the Distribution of Customer DTI ratio
sns.histplot(df_cleaned["dti"], bins=25, alpha=0.7)
plt.title('Distribution of Customer DTI (Debt-to-Income Ratio)')  
plt.xlabel('DTI Ratio')  
plt.ylabel('Frequency')  
plt.tight_layout()
plt.show()

### Insights from the Customer DTI Ratio Distribution Graph
- The distribution of customer DTI ratios is right-skewed. Thus a larger number of borrowers have lower DTI ratios.
- There is a peak around the 10-15 range, suggesting this is the most common DTI ratio among borrowers.

In [ ]:
# Figure 10: Plot the Verification Status of Loan
verify_counts = df_cleaned["verification_status"].value_counts()
verify_labels = df_cleaned["verification_status"].value_counts().index
sns.barplot(y=verify_labels, x=verify_counts)
plt.title('Distribution of Verification Status of Loan')  
plt.xlabel('Frequency')
plt.ylabel('Verification Status')
plt.tight_layout()
plt.show()

### Insights from the Verification Status Distribution Graph
- The majority of loans were not verified, followed by verified loans. Source verified loans represent a significantly smaller portion.

In [ ]:
# Figure 11: Plot the Loan Grade Analysis
grade_counts = df_cleaned["grade"].value_counts()
grade_labels = df_cleaned["grade"].value_counts().index
sns.barplot(y=grade_labels, x=grade_counts)
plt.title('Loan Grade Distribution Analysis')
plt.xlabel('Frequency')
plt.ylabel('Grade')
plt.tight_layout()
plt.show()

### Insights from the Loan Grade Distribution Graph
- Grade B loans are the most frequent, followed by grade A loans.
- The frequency of loans decreases as the grade letter moves from D to G possibly because a higher risk is associated with lower grades.

In [ ]:
# Figure 12: Plot the Sub-Grade Distribution
plt.figure(figsize=[12, 5])
plt.title('Loan Sub-Grade Distribution Analysis')  
sub_grade_counts = df_cleaned["sub_grade"].value_counts()
sub_grade_labels = df_cleaned["sub_grade"].value_counts().index
sns.barplot(x=sub_grade_labels, y=sub_grade_counts)
plt.xlabel('Sub-Grade')  
plt.ylabel('Count')  
plt.xticks(rotation=90)
plt.tight_layout()  
plt.show()

### Insights from the Loan Sub-Grade Distribution Graph
- The distribution of loan sub-grades is skewed to the right. A larger number of loans fall into the higher sub-grades (A1-A5).
- The most frequent sub-grade is A1, followed by A2 and A3, further emphasizing the concentration of loans in the higher sub-grades. There is a clear decrease in the number of loans as the sub-grade moves from A1 to G5.

In [ ]:
# Figure 13: Plot the State Distribution for Loan Applicants
plt.figure(figsize=[12, 5])
plt.title('Loan Applicants by State')
sns.countplot(x=df_cleaned["addr_state"], palette='coolwarm', order=df_cleaned["addr_state"].value_counts().index)
plt.xlabel('States')
plt.ylabel('Number of Applicants')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

### Insights from the Loan Applicants by State Distribution Graph
- California (CA) has the highest number of loan applicants, followed by New York (NY) and Florida (FL).

In [ ]:
# Figure 14: Plot the Public Record Bankruptcies Distribution for Loan Applicants
plt.title('Distribution of Public Record Bankruptcies throughout the Loan Applicants')
sns.countplot(data=df_cleaned, x="pub_rec_bankruptcies", order=df_cleaned["pub_rec_bankruptcies"].value_counts().index)
plt.xlabel('Public Record of Bankruptcies')
plt.ylabel('Number of Applicants')
plt.tight_layout()
plt.show()

### Insights from the Public Record Bankruptcies Distribution Graph
- The vast majority of loan applicants have no public record bankruptcies. Only a small number of applicants have one or two public record bankruptcies.
- Bankruptcies are a relatively rare occurrence among the loan applicants in this dataset.

## Key Insights from the Univariate Analysis of Loan Data
- Loan Amounts: The majority of loans are for lower to mid-range amounts, with a significant portion falling between 5,000 and 15,000. There is a clear rightward skew, indicating larger loans are less frequent.
- Interest Rates: Interest rates are generally lower, with a noticeable peak around 10-12%. The distribution is skewed to the right, indicating more loans have lower rates.
- Loan Statuses: Most loans were fully paid, but a considerable number were charged off.
- Employment Length: Borrowers tend to have shorter employment lengths, with most employed for 10 years or less.
- Home Ownership: Renters are the most common, followed by mortgage holders. Homeowners are a smaller group.
- Loan Purposes: Debt consolidation is the primary purpose, followed by credit cards and home improvements.
- Loan Terms: 36-month terms are significantly more common than 60-month terms.
- Customer DTI: Borrowers generally have lower DTI ratios, with a peak around 10-15.
- Monthly Installments: Most borrowers have lower monthly installments, with a peak around 200-300 USD.
- Verification Status: Many loans are not verified, while some are verified or source verified.
- Loan Grades: Higher grades (A-B) are more common than lower grades (C-G), indicating lower risk borrowers.
- Loan Sub-Grades: The distribution of sub-grades is skewed to the right, with more loans in higher sub-grades (A1-A5).
- State Distribution: California, New York, and Florida have the highest number of loan applicants, with most states having fewer than 1,000 applicants.
- Public Record Bankruptcies: Very few applicants have public record bankruptcies, with the majority having none.